<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asteroid Belt</title>
    <link rel="stylesheet" href="Menu_style.css">
    <link rel="stylesheet" href="Game_style.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <!--            <div class="logo">-->
            <!--                <a href="#"> <img src="Images/boss.png" alt="Unknown logo image"></a>-->
            <!--            </div>-->
            <div class="header_info">
                <h1>Briefing</h1>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="side">
            <ul class="menu">
                <li><a href="#"><div class="img_n"><img src="Images/briefing.png"></div><span>Briefing</span></a></li>
                <li class="menu__list"><a href="Lore.html"><div class="img_n"><img src="Images/lore.png"></div><span>Lore</span></a>
                    <ul class="menu__drop">
                        <li><a href="Enemy.html">Asteroid</a></li>
                        <li><a href="Enemy.html">Charge</a></li>
                        <li><a href="Enemy.html">Rocket</a></li>
                        <li><a href="Enemy.html">Star</a></li>
                        <li><a href="Enemy.html">Boss</a></li>
                    </ul>
                </li>
                <li><a href="Scoreboard.html"><div class="img_n"><img src="Images/Scoreboard.png"></div><span>Scoreboard</span></a></li>
                <li><a href="Rules"><div class="img_n"><img src="Images/rules.png"></div><span>Rules</span></a></li>
                <li class="menu__list"><a href="#"><div class="img_n"><img src="Images/mail.png"></div><span>Email us</span></a>
                    <ul class="menu__drop">
                        <li><a target="_blank" target="_top" href="mailto:vladislaw.vlad2@gmail.com?subject=Feedback about game"><div class="img_n_social"><img src="Images/gmail.png" alt="gmail"></div></a></li>
                        <li><a target="_blank" href="tg://resolve?domain=Vinchickk"><div class="img_n_social"><img src="Images/telegram.png" alt="telegram"></div></a></li>
                        <li><a target="_blank" href="https://instagram.com/forgotten_for_everyone/"><div class="img_n_social"><img src="Images/instagram.png" alt="instagram"></div></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content_info">
            <div class="content_container">
                <div class="content_logo">
                    <div class="briefing">
                        <div class="brief_cont"><img src="Images/briefing1.png" alt="briefing logo"></div>
                    </div>
                    <h1>Commander!</h1>
                    <p>A mystical force has launched a surprise attack. The whole world has been attacked.
                        Many cities have fallen into its hands and our troops are retreating.
                        Commander, we need your help. You are our last hope!
                        You need to update your technology in order to face the powerful enemy troops.</p>
                    <p>Your mission is to find and destroy the main alien ship. The latest combat ship is at your disposal.
                        We will try wipe out the enemy, rescue the ally and help you as much as we can after break through encirclement.</p>
                    <p>Good luck!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p> All right reserved by&nbsp;&copy;ffe 2021</p>
    </div>
</div>
</body>
</html>