<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asteroid Belt</title>
    <link rel="stylesheet" href="Menu_style.css">
    <link rel="stylesheet" href="Game_style.css">
    <link rel="stylesheet" href="Enemy_style.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <!--            <div class="logo">-->
            <!--                <a href="#"> <img src="Images/boss.png" alt="Unknown logo image"></a>-->
            <!--            </div>-->
            <div class="header_info">
                <h1>Enemy</h1>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="side">
            <ul class="menu">
                <li><a href="Briefing.html"><div class="img_n"><img src="Images/briefing.png"></div><span>Briefing</span></a></li>
                <li class="menu__list"><a href="#"><div class="img_n"><img src="Images/lore.png"></div><span>Lore</span></a>
                    <ul class="menu__drop">
                        <li><a href="Enemy.html">Asteroid</a></li>
                        <li><a href="Enemy.html">Charge</a></li>
                        <li><a href="Enemy.html">Rocket</a></li>
                        <li><a href="Enemy.html">Star</a></li>
                        <li><a href="Enemy.html">Boss</a></li>
                    </ul>
                </li>
                <li><a href="Scoreboard.html"><div class="img_n"><img src="Images/Scoreboard.png"></div><span>Scoreboard</span></a></li>
                <li><a href="Rules.html"><div class="img_n"><img src="Images/rules.png"></div><span>Rules</span></a></li>
                <li class="menu__list"><a href="#"><div class="img_n"><img src="Images/mail.png"></div><span>Email us</span></a>
                    <ul class="menu__drop">
                        <li><a target="_blank" href="mailto:vladislaw.vlad2@gmail.com?subject=Feedback about game"><div class="img_n_social"><img src="Images/gmail.png" alt="gmail"></div></a></li>
                        <li><a target="_blank" href="tg://resolve?domain=Vinchickk"><div class="img_n_social"><img src="Images/telegram.png" alt="telegram"></div></a></li>
                        <li><a target="_blank" href="https://instagram.com/forgotten_for_everyone/"><div class="img_n_social"><img src="Images/instagram.png" alt="instagram"></div></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content_info">
            <div class="content_container">
                <div class="enemies">
                    <h1>Enemy</h1>
                    <div class="enemy">
                        <div class="enemy_image"><img src="Images/asteroid.png" alt="asteroid"></div>
                    </div>
                    <div class="enemy_info">
                        <h2>General description</h2>
                        <p>This stone is capable of destroying your weapons, has interesting consequences.</p>
                        <h2>Characteristics</h2>
                        <ul>
                            <li><p>somedata</p></li>
                            <li><p>somedata</p></li>
                            <li><p>somedata</p></li>
                            <li><p>somedata</p></li>
                            <li><p>somedata</p></li>
                        </ul>
                        <h2>Features</h2>
                        <p>featuress</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p> All right reserved by&nbsp;&copy;ffe 2021</p>
    </div>
</div>
</body>
</html>